<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Личный кабинет машиниста{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-top">
            <h2><i class="fas fa-train"></i> Меню</h2>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i><span>Главная</span></a></li>
                <li><a href="/personal_info"><i class="fas fa-user"></i><span>Личная информация</span></a></li>
                <li><a href="/route_lists"><i class="fas fa-clipboard-list"></i><span>Маршрутные листы</span></a></li>
                <li><a href="/brigades"><i class="fas fa-users"></i><span>Бригады</span></a></li>
                <li><a href="/events"><i class="fas fa-calendar-alt"></i><span>Журнал мероприятий</span></a></li>
                <li><a href="/training"><i class="fas fa-graduation-cap"></i><span>Инструктажи и учеба</span></a></li>
            </ul>
        </div>
        <div class="sidebar-bottom">
            <ul>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Выход</span></a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>